
.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 110px;
}
.login-button{
    background-color: aqua;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s backgroun-color;
}
.login-button:hover{
    background-color:#00bbff;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #333627;
    font-weight: 500;
    position: relative;
}

.nav-link.active{
    color: aqua;
    font-weight: bold;
}
.nav-link:hover{
    color: #00bbff;
}
@media (min-width:991px){

    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgb(10, 16, 25);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before{
        width: 100%;
        visibility: visible;
    }
}

.navbar-brand{
    font-weight: 500;
    color: aqua;
    font-size: 24px;
    transition: 0.3s color;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.navbar-brand:hover{
    color: #e7eef0;
    border-radius: 10%;
}
.navbar{
    background-color: #5285d7;
    margin: 20px;
    border-radius: 16px;
    padding: 0.2rem;
}